node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-report/
google-services.json
google-services-teste.json
google-services-producao.json
# macOS
.DS_Store
.idea